#bulb {
    background-color:rgba(0, 0, 0, 1);
    font-size: 20px ;
 font-weight: bold;
    
}
 #bulb .card{
     border: 1px solid rgb(190, 187, 187);
     box-shadow: 5px 8px 10px rgb(190, 187, 187);
     border-radius: 10px 10px 10px 10px ;
     margin-bottom: 15px;
     border: none;

   }
   
   #bulb .overlay {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     
     height: 100%;
     width: 100%;
     opacity: 0;
     transition: .5s ease;
     background-color:rgba(0, 0, 0,.7);
     border-radius: 7px 7px 7px 7px ;
     border: none;
     
     
     }

 #bulb .card :hover.overlay {
 opacity: 1;
 cursor: pointer;
 font-family: "Lato",cursive;
 }
 #bulb .card-img-top
 {
 border-radius: 10px 10px 0px 0px;
 }

 #bulb .text {
 
 position: absolute;
 top: 50%;
 left: 50%;
 -webkit-transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
 /* text-align: center; */
 
 }

 #bulb a{
 text-align: center;
 color: white;
 text-decoration: none;


 
 }
 /* #bulb a:hover{
     color:red
 } */

#bulb h2{
   color:white;
   font-family: "Aldrich",sans-serif;
 }
